#main-form {
  width: 85%;
  padding-top: 80px;
}

#supaButton {
  text-transform: none;
  margin-left: 37%;
}

#rep-info * {
  background-color: inherit;
  border: none;
}

#rep-info span {
  color: #868c88;
}

#timeline-filterables, #timeline-filterables ul {
  width: 100%;
}

#timeline-filterables * {
  display: inline-block;
}

#timeline-filterables ul {
  text-align: center;
}
