

#main-form {
  width: 85%;
  z-index: 69;
  margin-bottom: 530px;
}



#rep-info * {
  background-color: inherit;
  border: none;
}

#rep-info span {
  color: white;
}

#timeline-filterables, #timeline-filterables ul {
  width: 100%;
}

#timeline-filterables * {
  display: inline-block;
}

#timeline-filterables ul {
  text-align: center;
}

#keywordDiv {
  width: 100%;
  padding-bottom: 20px;
}

#keyword-search-form {
  width: 80%;
}

#keyword-search-form input {
  color: black;
  border-bottom: 1px solid #4484CE;
}

#keyword-search-form label {
  color: black;
}

#keyword-search-form input:focus {
  box-shadow: 0 1px 0 0 #4484CE;
}

#keyword-search-form input:valid {
  box-shadow: 0 1px 0 0 #4484CE;
}

#supaDupaButton {
  margin-top: 30px;
  background-color: #4484CE;
  border-radius: 5px;
}

/*#timeline-filterables {
  padding-top: 25px;
}*/

#rep-info {
  padding-top: 3px;
  height: 60px;
}

#timeline-title {
  /*padding-top: 15px;*/
}

#year-search {
  margin-top: 0px;
  padding: 0 0.75rem
  background-color: #c1640a;
  height: 36px;
  z-index: 1;
}

#year-search select {
  background-color: #c1640a;
  border: none;
  height: 36px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.timeline-buttons a {
  border-radius: 20px;
}

#repInfoUL i {
  background-color: #26a69a;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#repInfoUL li {
  padding-left: 12px;
}

#senatorLink {
  margin-top: 10px;
  text-decoration: underline;
}

#senatorLink a:hover {
  color: white;
}

#landingPageBG {
  /*background: url(nycSkyline.jpg);*/
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

#page2BG {
  /*background: url(nycSkyline.jpg);*/
  /*background-size: cover;*/

  /*background-color: #D3D3D3;*/
}

.section {
  background: url(nycSkyline.jpg);
  background-size: cover;

}

#senatorLink a{
  color: #000000;
}

#timeline-ul .big-box {
  background-color: #4484CE;
  border-radius: 5px;
}

#main-form input {
  color: black;
  border-bottom: 1px solid #4484CE;
}

#main-form label {
  color: #4484CE;
}

#main-form input:focus {
  box-shadow: 0 1px 0 0 #4484CE;
}

#main-form input:valid {
  box-shadow: 0 1px 0 0 #4484CE;
}

#supaButton {
  text-transform: none;
  margin-left: 37%;
  background-color: #4484CE;
  border-radius: 5px;
}

#main-form input, #main-form label {
  font-size: 1.4rem;
}

#timeline-filterables {
  margin-top: 35px;
}

#timeline-filterables a, #timeline-filterables select {
  background-color: #4484CE;
  border-radius: 5px;
}

#timeline-filterables .clickedOn {
  background-color: #709bce;
}

#main-font {
  position: fixed;
  color: white;
  bottom: 100px;
  left: 100px;
  /*top: 800px;
  left: 60px;*/
}

#billInfo {
  font-style: italic;
  font-weight: bold;
}

#rep-info {
  margin-bottom: 30px;
}

#rep-info li {
  font-size: 20px;
  list-style-type: none;
}

#title {
  margin-bottom: 3px;
}

#decision {
  margin-top: 3px;
}