#inputForm {
  postion: relative;
}


#loader {
    position: absolute
    left: 50%
    top: 50%
    margin: (-$loader-size/2) 0 0 (-$loader-size/2)
    width: $loader-size - 2
    height: $loader-size - 2
    background-color: rgb(255, 255, 255)
    border-radius: 50%
    box-shadow: 0 0 0 $loader-size/6 rgb(20, 20, 20)
}
