*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}  /* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background-color: rgba(104, 104, 106, 0.58);
  height: 235px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  height: 350px;
}

h1 {
  font-size: 30;
}

.timeline-title {
  margin-top: 70px;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  /*background: #D3D3D3;*/
  padding-bottom: 500px;
}

/*timeline itself*/
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: white;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

/**/
.timeline ul li .big-box {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 30px;
  background: #F45B69;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}

.timeline ul li .big-box::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) .big-box {
  left: 45px;
}

/*triangles on the right side li's*/
.timeline ul li:nth-child(odd) .big-box::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #4484CE transparent transparent;
}

.timeline ul li:nth-child(even) .big-box {
  left: -439px;
}

/*triangles on the left side li's*/
.timeline ul li:nth-child(even) .big-box::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #4484CE;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

/*nodes*/
.timeline ul li.in-view::after {
  background: white;
}

.timeline ul li .big-box {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) .big-box {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) .big-box {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view .big-box {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li .big-box {
    width: 250px;
  }
  .timeline ul li:nth-child(even) .big-box {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li .big-box {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) .big-box {
    left: 45px;
  }
  .timeline ul li:nth-child(even) .big-box::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #4484CE transparent transparent;
  }
}


/* HOVER EFFECTS
------------------------------------------------ */

.hover-box {
  display: none;
}

.hover-box a {
  color: white;
}

.hover-box a:hover {
  color: black;
}

.timeline ul li .big-box:hover {
  position: relative;
  bottom: 0;
  width: 400px;
  background: #26a69a;
}

.big-box:hover .hover-box {
  display: block;
}

/* FILTER BUTTONS
----------------------------------------------------------*/

/*.row li {
  margin-top: 100px;
}*/
